body{
	background: url(../img/bg.png) repeat-x;
	/*min-height: 600px;*/
	position: relative;
}

*{font-family: "微软雅黑"; margin: 0; padding: 0; border: 0; font-size: 14px; color: white;}

a{
	text-decoration: none;
	color: rgba(255, 255, 255);
	cursor: pointer;
}

.pwd{
	width: 310px;
	height: 44px;
	line-height: 44px;
	padding-left: 15px;
	outline: none;
	border-radius: 20px;
	background-color: #0A3C79;
	border: 1px solid #329BE0;
}

.pwd:hover, .pwd:focus{
	background-color: #052B64;
}

#login{
	background: #3FB9FF;
	font-size: 18px;
	width: 329px;
	height: 44px;
	outline: none;
	color: white;
	background: -webkit-linear-gradient(#3FB9FF, #099BE7, #229DE3);
	background: -o-linear-gradient(#3FB9FF, #099BE7, #229DE3);
	background: -moz-linear-gradient(#3FB9FF, #099BE7, #229DE3);
	background: linear-gradient(#3FB9FF, #099BE7, #229DE3);
	border-radius: 20px;
}

#login:hover{
	background: -webkit-linear-gradient(#229de3, #099be7,#3fb9ff);
	background: -o-linear-gradient(#229de3, #099be7,#3fb9ff);
	background: -moz-linear-gradient(#229de3, #099be7,#3fb9ff);
	background: linear-gradient(#229de3, #099be7,#3fb9ff);
}

#head{
	height: 50px;
	padding-top: 25px;
	margin-left: 14px;
}

#middle{
	margin-top: 150px;
}

#middle li{
	list-style-type: none;
	margin-top: 15px;
}

#footer{
	text-align: center;
	bottom: 15px;
	position: absolute;
	width: 100%;
}

#footer a{
	color: #EAEAEA;
}

#err{
	display: none;
	color: red;
}
