{% extends "bar.html" %}
{% block content %}
    <h1>添加设备</h1>
    <form class="ajaxforms" method="post" action="/v1/house/device">
        设备种类：<input id="email" type="text" name="name"/>
        描述：<input id="description" type="text" name="description">
        oem: <input id="oem" type="text" name="oem">
        价格：<input id="price" tpye="text" name="price">
        <input id="token" type="text" name="token" hidden/>
        <input id="house_uuid" type="text" name="house_uuid" hidden>
        <input type="submit" value="创建"/>
    </form>
    <script type="text/javascript">
        $(function () {
            function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                if (r != null) return unescape(r[2]);
                return null; //返回参数值
            }

            var house_uuid = getUrlParam("house_uuid");

            $("#token").attr("value", $.cookie("token"));
            $("#house_uuid").attr("value", house_uuid);
            var form = $("form.ajaxforms");
            var formloading = false;
            form.validate({
                showErrors: function (errorMap, errorArr) {
                    try {
                        $(errorArr[0].element).focus();
                        layer.msg(errorArr[0].message);
                    } catch (err) {
                    }
                },
                rules: {
                    'name': {
                        required: true
                    },
                    'description': {
                        required: true
                    },
                    'oem': {
                        required: true
                    },
                    'price': {
                        required: true
                    }
                },
                //验证未通过提示消息
                messages: {
                    'name': {
                        required: '请输入房间名'
                    },
                    'description': {
                        required: '请输入描述信息'
                    },
                    'oem': {
                        required: '请输入厂商信息'
                    },
                    'price': {
                        required: true
                    }
                },
                submitHandler: function (forms) {
                    if (formloading) return;
                    $(forms).ajaxSubmit({
                        url: form.attr('action'),
                        dataType: 'json',
                        beforeSubmit: function (arr, $form, options) {
                            formloading = true;
                        },
                        success: function (data, statusText, xhr, $form) {
                            formloading = false;
                            if (data.code == 0) {
                                layer.msg(data.message);
                                setTimeout(function () {
                                    ;
                                }, 3000);
                                window.location.href = '/view/index';
                            } else {
                                layer.msg(data.message);
                            }
                        }
                    });
                }
            })
        })();
    </script>
{% endblock %}