<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-validate/1.16.0/additional-methods.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.form/4.2.1/jquery.form.min.js"></script>
    <script src="https://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="nick_name" class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a onclick="logout();" href="#">退出</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        房间 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/view/add_house">创建一个房间</a></li>
                        <li><a href="/view/list_house">所有房间</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        设备 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/view/list_device">所有设备</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% block content %}{% endblock %}
<script>
    $(function () {
        $("#nick_name").text($.cookie('nick_name'))

    });

    var logout = function () {
        $.ajax({
            url: "/v1/user/logout",
            data: {
                'token': $.cookie('token')
            },
            success: function (data) {
                responseText = jQuery.parseJSON(data)
                if (responseText.code === 0) {
                    layer.msg(responseText.message);
                    $.removeCookie('token', {path: '/'})
                    $.removeCookie('nick_name', {path: '/'})
                    $.removeCookie('user_uuid', {path: '/'})
                    window.location.href = "/view/login";
                    return;
                } else {
                    layer.msg(responseText.message);
                    return;
                }
            }
        });
    };
</script>
</body>
</html>