{% extends "bar.html" %}
{% block content %}
    <h1>创建房间</h1>
    <form class="ajaxforms" method="post" action="/v1/house">
        房间名：<input id="email" type="text" name="name"/>
        <input id="token" type="text" name="token" hidden/>
        <input type="submit" value="创建"/>
    </form>
    <script type="text/javascript">
        $(function () {
            $("#token").attr("value", $.cookie("token"));
            var form = $("form.ajaxforms");
            var formloading = false;
            form.validate({
                showErrors: function (errorMap, errorArr) {
                    try {
                        $(errorArr[0].element).focus();
                        layer.msg(errorArr[0].message);
                    } catch (err) {
                    }
                },
                rules: {
                    'name': {
                        required: true
                    }
                },
                //验证未通过提示消息
                messages: {
                    'name': {
                        required: '请输入房间名'
                    }
                },
                submitHandler: function (forms) {
                    if (formloading) return;
                    $(forms).ajaxSubmit({
                        url: form.attr('action'),
                        dataType: 'json',
                        beforeSubmit: function (arr, $form, options) {
                            formloading = true;
                        },
                        success: function (data, statusText, xhr, $form) {
                            formloading = false;
                            if (data.code == 0) {
                                layer.msg(data.message);
                                setTimeout(function () {
                                    ;
                                }, 3000);
                                window.location.href = '/view/index';
                            } else {
                                layer.msg(data.message);
                            }
                        }
                    });
                }
            })
        })();
    </script>
{% endblock %}