{% extends  "bar.html" %}
{% block content %}
    <h1>所有记录</h1>
    <table class="table table-bordered">
        <caption></caption>
        <thead>
        <tr>
            <th>记录数值</th>
            <th>记录时间</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]);
            return null; //返回参数值
        }

        var device_name = getUrlParam("device_name");
        var device_description = getUrlParam("device_description")
        $("caption").text(device_name + ":" + device_description)

        setInterval(function () {
            $("td").remove()


            $.ajax({
                url: '/v1/house/device/records',
                type: 'GET',
                data: {
                    'token': $.cookie('token'),
                    'device_uuid': getUrlParam('device_uuid')
                },
                success: function (data) {
                    jsonData = JSON.parse(data)
                    if (jsonData.code != 0) {
                        layer.msg(jsonData.message);
                        return;
                    } else {
                        records = jsonData.record
                        $.each(records, function (k, v) {
                            $('tbody').append("<tr>" +
                                "<td>" + records[k].value + "</td>" +
                                "<td>" + records[k].record_time + "</td>" +
                                "</tr>")
                        })
                    }
                }
            })
        }, 1000);


    </script>
{% endblock %}