{% extends "bar.html" %}
{% block content %}
    <h1>所有设备<span></span></h1>
    <table class="table table-bordered">
        <caption></caption>
        <thead>
        <tr>
            <th>种类</th>
            <th>描述</th>
            <th>OEM</th>
            <th>price</th>
            <th>time</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>
        $(function () {

            function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                if (r != null) return unescape(r[2]);
                return null; //返回参数值
            }

            var house_uuid = getUrlParam("house_uuid")

            $.ajax({
                url: "/v1/house/name",
                type: "GET",
                data: {
                    'house_uuid': house_uuid
                },
                success: function (data) {
                    jsonData = JSON.parse(data)
                    $("caption").text("房间名：" + jsonData.content.house_name);
                    return;
                }
            })

            $.ajax({
                url: "/v1/house/device",
                type: "GET",
                data: {
                    "token": $.cookie('token'),
                    "house_uuid": getUrlParam("house_uuid"),
                },
                success: function (data) {
                    jsonData = JSON.parse(data);
                    if (jsonData.code != 0) {
                        layer.msg(jsonData.message);
                        return;
                    } else {
                        devices = jsonData.devices
                        $.each(devices, function (k, v) {
                            $("tbody").append("<tr>" +
                                "<td>" + devices[k].name + "</td>" +
                                "<td>" + devices[k].description + "</td>" +
                                "<td>" + devices[k].oem + "</td>" +
                                "<td>" + devices[k].price + "</td>" +
                                "<td>" + devices[k].time + "</td>" +
                                "<td><a href=\"/view/list_record?device_uuid=" + devices[k].uuid + "&device_name=" + devices[k].name + "&device_description=" + devices[k].description + "\">查看数据</a></td>" +
                                "</tr>"
                            )
                        })
                    }
                }
            })
        });
    </script>
{% endblock %}