{% extends "bar.html" %}
{% block content %}
    <h1>所有房间</h1>
    <table class="table table-bordered">
        <caption></caption>
        <thead>
        <tr>
            <th> 房间名</th>
            <th> 描述</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script>
        $(function () {
            $("caption").text($.cookie('nick_name'));

            $.ajax({
                url: "/v1/house",
                type: "GET",
                data: {
                    'token': $.cookie('token')
                },
                success: function (data) {
                    jsonData = JSON.parse(data);
                    if (jsonData.code != 0) {
                        layer.msg(jsonData.message)
                    } else {
                        houses = jsonData.houses;
                        $.each(houses, function (k, v) {
                            $("tbody").append("<tr>" +
                                "<td>" + houses[k].name + "</td>" +
                                "<td>" + houses[k].description + "</td>" +
                                "<td>" +
                                "<a class=\".btn\" href=\"/view/list_device?house_uuid=" + houses[k].uuid + "\">所有设备</a>" +
                                "<a class=\".btn\" href=\"/view/add_device?house_uuid=" + houses[k].uuid + "\">添加设备</a>" +
                                {#"<a href=\"/view/modify_house?house_uuid=" + houses[k].uuid + "&house_name=" + houses[k].name + "\" class=\".btn\">修改信息</a>" +#}
                                "</td>" +
                                "</tr>"
                            )
                            ;
                        });
                    }
                }
            })


        })();
    </script>
{% endblock %}