<!DOCTYPE html>
<html lang="en">
{% extends "header.html" %}
{% block title %}会员登录{% endblock %}

{% block content %}
    <form class="ajaxforms" method="post" action="/v1/user/login">
        邮箱：<input id="email" type="text" name="email"/>
        密码：<input id="password" type="password" name="password"/>
        <input type="submit" value="登录"/>
        <a href="register">注册</a>
    </form>
    <script type="text/javascript">
        $(function () {
            var form = $("form.ajaxforms");
            var formloading = false;
            form.validate({
                showErrors: function (errorMap, errorArr) {
                    try {
                        $(errorArr[0].element).focus();
                        layer.msg(errorArr[0].message);
                    } catch (err) {
                    }
                },
                rules: {
                    'email': {
                        required: true
                    },
                    'password': {
                        required: true,
                    }
                },
                //验证未通过提示消息
                messages: {
                    'email': {
                        required: '请输入邮箱'
                    },
                    'password': {
                        required: '请输入密码'
                    },
                },
                submitHandler: function (forms) {
                    if (formloading) return;
                    $(forms).ajaxSubmit({
                        url: form.attr('action'),
                        dataType: 'json',
                        beforeSubmit: function (arr, $form, options) {
                            formloading = true;
                        },
                        success: function (data, statusText, xhr, $form) {
                            formloading = false;
                            if (data.code == 0) {
                                $.cookie('token', data.content.token, {path: '/'});
                                $.cookie('nick_name', data.content.nick_name, {path: '/'});
                                $.cookie('user_uuid', data.content.user_uuid, {path: '/'});
                                window.location.href = '/view/index';
                            } else {
                                layer.msg(data.message);
                            }
                        }
                    });
                }
            })
        })(jQuery);
    </script>
{% endblock %}
