﻿{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="CUIT_Androis" />
		<meta http-equiv="refresh" content="3">
		<title>家庭消防系统</title>
		<!-- BootStrap -->
		<link type="text/css" rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
		<link type="text/css" rel="stylesheet" href="{% static "css/custom-styles.css" %}" />
        <style type="text/css">
            td {
                text-align: center
            }
			th {
                text-align: center
            }
        </style>
	</head>
	<body>
		<div id="wrapper">
			<nav class="navbar nav-default top-navbar" role="navigation">
			<ul class="nav navbar-top-links navbar-right">
                
				<li class="dropdown">
                    <form action="{% url 'zigbee:index' %}" method="get">
                        <input type="text" name="zigbee" value="gas" hidden/>
					    <input type="submit" value="Gas" />
                    </form>
				</li>
				<li class="dropdown">
		            <form action="{% url 'zigbee:index' %}" method="get">
                        <input type="text" name="zigbee" value="temp" hidden/>
					    <input type="submit" value="Temperature" />
                    </form>
				</li>
                <li class="dropdown">
					<form action="{% url 'zigbee:index' %}" method="get">
                        <input type="text" name="zigbee" value="humi" hidden/>
					    <input type="submit" value="Humidity" />
                    </form>
				</li>
                
			</ul>
			</nav>
			<div id="page-wrapper" style="margin-right: 70px">
				<div class="header">
					<h1 class="page-header">
						家庭消防系统
					<small>Welcome to Home</small>
					</h1>
				</div>
				<div id="page-inner">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									{{ title }}
								</div>
								<div class="panel-body">
									<div class="panel-body">
										<div class="table-responsive">
											<table class="table table-striped table-bordered table-hover" id="dataTables-example">
												<thead>
													<tr>
														<th>IEEE Adress</th>
                                                        <th>Net Adress</th>
														<th>Type</th>
														<th>Name</th>
														<th>Data</th>
														<th>Date</th>
													</tr>
												</thead>
												<tbody>
                                                    {% for i in gas %}
                                                    {% if forloop.counter|divisibleby:2 %}
                                                    <tr class="odd gradeX">
                                                    {% else %}
                                                    <tr class="even gradeC">
                                                    {% endif %}
                                                        <td>{{ i.iee_adress }}</td>
                                                        <td>{{ i.net_adress }}</td>
                                                        <td>{{ i.type }}</td>
                                                        {% ifequal i.type  "SD" %}
                                                            <td>湿度传感器</td>
                                                        {% endifequal %}
                                                        {% ifequal i.type  "WD" %}
                                                            <td>温度传感器</td>
                                                        {% endifequal %}
                                                        {% ifequal i.type  "QT" %}
                                                            <td>气体传感器</td>
                                                        {% endifequal %}
                                                        <td>{{ i.data }}</td>
                                                        <td>{{ i.date }}</td>
                                                    </tr>
                                                    {% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
		<script src="{% static "js/jquery-1.10.2.js" %}" type="text/javascript"></script>
		<script src="{% static "js/easypiechart.js" %}" type="text/javascript"></script>

		<script src="{% static "js/easypiechart-data.js" %}" type="text/javascript"></script>
	</body>
</html>
