body {
    font-family: 'Open Sans', sans-serif;
	background: url(../img/bg.png)
}
#wrapper {
    width: 100%;
}
#page-wrapper {
    padding: 15px 15px;
    background: #EDEDED;
}
td {
    text-align: center
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:transparent;
    padding: 15px 30px;
}
.header .container-fluid{
	padding:0;
}
.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h1, .h1, h2, .h2, h3, .h3 {
margin-top: 7px;
margin-bottom: -5px;
}
h2 {
    color: #000;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
	border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
.panel{
	border-radius:0px;
}
.navbar-side .nav > li > a > i{
	color: #FFFFFF;
	padding: 8px;
	width: 30px;
	text-align: center;
}
.top-navbar{
	position: fixed;
	width: 100%;
	z-index: 300;
}
.navbar-side {
	z-index: 1;
	position: fixed;
	width: 260px;
	top: 80px;
}
#page-wrapper {
	position: relative;
	top: 55px;
}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
	text-decoration: none;
	background-color: #2497BA;
	color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #075CB3;
	border-color: #075CB3;
}
.breadcrumb {
	padding: 12px 10px 12px 20px;
	margin-bottom: 20px;
	list-style: none;

	border-radius: 0;
	background: #fff;
}
.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	font-size: 13px;
}
.dropdown-menu>li>a i {
	 color: #1F1F1F;
}
.text-muted {
	color: #FB5651;
}
.badge {
	display: inline-block;
	min-width: 10px;
	padding: 4px 7px;
	font-size: 11px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F09B22;
	border-radius: 10px;
}
.page-header {
	padding-bottom: 9px;
	margin: 0;
	border-bottom: 1px solid transparent;
	text-align: left;
	background-color: rgb(237, 237, 237);
	padding: 32px 22px 32px 15px;
	color: #323232;}
.panel-left{  
	width: 100px;
	height: 100px;
	background: #0866C6;
	overflow: hidden;
	margin: 12px;
}
.panel-left .fa-5x {
	font-size: 3em;
	color: rgb(240, 155, 34);
	padding: 29px 0;
	margin-bottom:30px;}
.panel-right{  
	height: 124px;
	background: transparent;
	margin-bottom: 0;color: #AFAFAF;
	float: left;
	text-align: left;
	padding-left: 20px;
	font-size: 16px;
	text-shadow: none;
	font-weight: normal;
	text-align: center;
}
.panel-right h3{  
	font-size: 40px;
	padding: 18px 10px 13px 0;
	color: #5D5D5D;
}
.panel-right strong{
	font-weight:normal;
	color: #737373;
}
.panel-back {
    background-color:#fff;
}
.panel-default {
	border-color: #ECECEC;
}
.panel-default > .panel-heading {
	color: #555;
	border-color: #FFF;
	font-weight:bold;
	background: #FFFFFF;
	font-size: 16px;
	text-shadow: none;
}
.panel-heading {
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.jumbotron{
	padding:20px;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 200;
}
.jumbotron, .well{
background:#fff;
}
   .noti-box {
	min-height: 100px;
	padding: 20px;
}
.noti-box .icon-box {
	display: block;
	float: left;
	margin: 0 15px 10px 0;
	width: 70px;
	height: 70px;
	line-height: 75px;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
.green {
/* background-color: #1CC09F; */
color: #fff;
}
 .blue {background-color: #FFFFFF;color: #002A4C;}
  .red {
background-color: #FB6E51;
color:#fff;
}
  .brown {
background-color: #F5B252;
color:#fff;
} 
.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}

	 
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
.top-navbar{
margin:0px;
}
.top-navbar .navbar-brand {
color: #fff;
width: 260px;
text-align: left;
height: 60px;
font-size: 24px;
font-weight: 700;
/* text-transform: uppercase; */
line-height: 30px;background: #F09B22;}
.navbar-brand b{
color: #4BD28C;
}
.top-navbar .nav > li {
position: relative;
display: inline-block;
margin: 0px;
padding: 0px;
}
.top-navbar .nav > li > a {
position: relative;
display: block;
padding: 20px;color: #FFFFFF;
margin: 0px;}
.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
text-decoration: none;
color: #319DB5 !important;
background: transparent;
}
.top-navbar .dropdown-menu{
min-width: 230px;
border-radius: 0 0 4px 4px;
border: 0;}
.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus{
color: #225081;
background:none;
}
.fa.arrow:before {
    content: "\f104";
}
.top-navbar {
	background: #021557;
	border-bottom:none;
}
.top-navbar .nav > li > a > i {
margin-right: 2px;
}
.top-navbar .navbar-brand:hover { 
color: #FFFFFF;background-color: #FFB53E;}
.dropdown-user li {
margin: 8px 0;
}
.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #283643;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
    color: rgb(240, 155, 34);
}

/*----------------------------------------------
    UI ELEMENTS STYLES     
------------------------------------------------*/

#page-wrapper{
               margin: 0 0 0 70px;
               padding: 0;
}
.navbar {
 border-radius: 0px; 
}
#sideNav{
	display:none;
}
 #page-wrapper {
	position: relative;
	top: 93px;
}
#page-wrapper {
	position: relative;
	top: 93px;
}
.page-header small {
	display: block;
	padding-top: 14px;
	font-size: 19px;
}
.panel-left {
	width: 85px;
	height: 85px; 
	border-radius: 100%;
	overflow: hidden;
	margin: 14px;
}
